@font-face {

  font-family: 'Montserrat-Light';

  src: url('../fonts/Montserrat-Light/Montserrat-Light.eot?#iefix') format('embedded-opentype'),  

       url('../fonts/Montserrat-Light/Montserrat-Light.woff') format('woff'), 

       url('../fonts/Montserrat-Light/Montserrat-Light.ttf')  format('truetype'), 

       url('../fonts/Montserrat-Light/Montserrat-Light.svg#Montserrat-Light') format('svg');

  font-weight: normal;

  font-style: normal;

}

@font-face {

  font-family: 'Montserrat-UltraLight';

  src: url('../fonts/Montserrat-UltraLight/Montserrat-UltraLight.eot?#iefix') format('embedded-opentype'),  

       url('../fonts/Montserrat-UltraLight/Montserrat-UltraLight.woff') format('woff'), 

       url('../fonts/Montserrat-UltraLight/Montserrat-UltraLight.ttf')  format('truetype'), 

       url('../fonts/Montserrat-UltraLight/Montserrat-UltraLight.svg#Montserrat-UltraLight') format('svg');

  font-weight: normal;

  font-style: normal;

}

@font-face {

  font-family: 'HelveticaNeue-Medium';

  src: url('../fonts/HelveticaNeue-Medium/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),  

       url('../fonts/HelveticaNeue-Medium/HelveticaNeue-Medium.woff') format('woff'), 

       url('../fonts/HelveticaNeue-Medium/HelveticaNeue-Medium.ttf')  format('truetype'), 

       url('../fonts/HelveticaNeue-Medium/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');

  font-weight: normal;

  font-style: normal;

}

@font-face {

  font-family: 'Montserrat-Regular';

  src: url('../fonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),  

       url('../fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff'), 

       url('../fonts/Montserrat-Regular/Montserrat-Regular.ttf')  format('truetype'), 

       url('../fonts/Montserrat-Regular/Montserrat-Regular.svg#Montserrat-Regular') format('svg');

  font-weight: normal;

  font-style: normal;

}

*, *:before, *:after {

  -moz-box-sizing: border-box;

  -webkit-box-sizing: border-box;

  box-sizing: border-box;

}

* {

  margin:0px;

  padding:0px;

  border:none;

  outline:none;

}

body{

    font-family: 'Work Sans', sans-serif;

    background-color: #F5F5F5;

    font-size:12px;

    font-weight:400;

}

ul{

    padding: 0;

    margin: 0;

    list-style: none;

}

h1, h2, h3, h4, h5, h6 {

  font-family: 'Work Sans', sans-serif;

  font-weight: normal;

  font-style: normal;

  margin: 0;

}

p{

  margin:0;

}

html,

button,

input,

select,

textarea {

  color: #222;

}



::-moz-selection {

  background: #b3d4fc;

  text-shadow: none;

}

img {

  vertical-align: middle;



}



fieldset {

  border: 0;

  margin: 0;

  padding: 0;

}



textarea {

  resize: vertical;

}





a,button {

    -webkit-transition: all 0.4s ease;

    -moz-transition: all 0.4s ease;

    -ms-transition: all 0.4s ease;

    -o-transition: all 0.4s ease;

    transition: all 0.4s ease;

}



p{

  margin: 0;

}

a {

  cursor: pointer !important;

  text-decoration: none !important;

}

a:hover,a:active,a:focus,a:visited{

  text-decoration: none !important;

}



input, textarea, a, button {

  outline: none !important;

  text-decoration: none;

}



.margin-auto{

  margin: 0 auto;

  float: none !important;

}



/* img hover */

.img-hover {

  overflow: hidden;

  display: block;

}



.img-hover > img {

  -webkit-transition: all 1s ease-out;

  -moz-transition: all 1s ease-out;

  -o-transition: all 1s ease-out;

  -ms-transition: all 1s ease-out;

  transition: all 1s ease-out;

}



img{

  max-width: 100%;

}

/* end img hover */

.main-wrapper {

  position: relative;

  min-height: 100%;

  -webkit-transition: -webkit-transform .4s ease;

  transition: -webkit-transform .4s ease;

  transition: transform .4s ease;

  transition: transform .4s ease,-webkit-transform .4s ease;

}





.section-home-slide{

  position: relative;

  padding: 200px 0 50px;

  background-position: center;

  background-size: cover;

  background-repeat: no-repeat;

  z-index: 0;

}

.section-home-slide:before{

  content: '';

  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  z-index: -1;

  opacity: 0.9;

  background: rgba(195,188,153,1);

  background: -moz-linear-gradient(-45deg, rgba(195,188,153,1) 0%, rgba(95,90,80,1) 100%);

  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(195,188,153,1)), color-stop(100%, rgba(95,90,80,1)));

  background: -webkit-linear-gradient(-45deg, rgba(195,188,153,1) 0%, rgba(95,90,80,1) 100%);

  background: -o-linear-gradient(-45deg, rgba(195,188,153,1) 0%, rgba(95,90,80,1) 100%);

  background: -ms-linear-gradient(-45deg, rgba(195,188,153,1) 0%, rgba(95,90,80,1) 100%);

  background: linear-gradient(135deg, rgba(195,188,153,1) 0%, rgba(95,90,80,1) 100%);

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3bc99', endColorstr='#5f5a50', GradientType=1 );

}

#homeSlider .owl-nav > div{

  position: absolute;

  top:0;

  bottom: 0;

  width: 50px;

  height: 50px;

  line-height: 50px;

  text-align: center;

  color: #fff;

  font-size: 36px;

  margin: auto;

}

#homeSlider .owl-nav > div.owl-prev{

  left: 20px;

}

#homeSlider .owl-nav > div.owl-next{

  right: 20px;

}

#homeSlider .owl-nav > div span{

  width: 100%;

  height: 100%;

  display: block;

}

#homeSlider .owl-nav > div span img{

  width: 50px;

  height: 50px;

}

.h-s-thumb img{

  border-radius: 8px;

  width: auto !important;

  -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.5);

  -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.5);

  box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.5);

}

.h-s-thumb{

  padding: 10px 0;

}

.h-s-txt{

  margin-top: 20px;

  padding: 0 20px;

}

.h-s-txt > h2{

  color: #FFFFFF;

  font-size: 60px;

  font-weight: 600;

  font-family: 'Montserrat-UltraLight';

}

.h-s-txt > p{

  margin-top: 10px;

  color: #FFFFFF;

  font-size: 17px;

  font-weight: 300;

}

.view-btn{

  display: inline-block;

  border-radius: 30px;

  background-color: #FAC05A;

  color: #FFFFFF;

  font-size: 18px;

  padding: 10px 30px;

  line-height: 25px;

  margin-top: 20px;

  font-family: 'HelveticaNeue-Medium';

  -webkit-box-shadow: 0px 0px 19px 0px transparent;

  -moz-box-shadow: 0px 0px 19px 0px transparent;

  box-shadow: 0px 0px 19px 0px transparent;

}

.view-btn:hover,.view-btn:focus{

  background-color:#5F5A50;

  color: #fff;

  -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.2);

  -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.2);

  box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.2);

}

.section-content-home{

  padding: 40px 0;

}

.sec-title{

  color: #13110C;

  font-size: 36px;

  font-family: 'Montserrat-UltraLight';

  margin-bottom: 30px;

  font-weight: 600;

}

.rating-box,.offer-box{

  margin-bottom: 50px;

  padding: 0 25px;

}

.rating-item{

  padding: 5px;

}

.rating-item > a{

  display:block;

  overflow:hidden;

  border-radius: 8px;

  -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.3);

  -moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.3);

  box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.3);

}

.rating-item img{

  border-radius: 8px;

}

#rating-slide .owl-nav > div{

  position: absolute;

  top:0;

  bottom: 0;

  width: 50px;

  height: 50px;

  line-height: 50px;

  text-align: center;

  color: #fff;

  font-size: 36px;

  margin: auto;

}

#rating-slide .owl-nav > div.owl-prev{

  left:-45px;

}

#rating-slide .owl-nav > div.owl-next{

  right:-45px;

}

#rating-slide .owl-nav > div span{

  width: 100%;

  height: 100%;

  display: block;

}

#rating-slide .owl-nav > div span img{

  width: 40px;

  height: 40px;

}



.rating-item:hover .img-hover > img{

  -webkit-transition-delay: 0s;

  -moz-transition-delay: 0s;

  -o-transition-delay: 0s;

  -ms-transition-delay: 0s;

  transition-delay: 0s;

  -webkit-transform: scale(1.1);

  -moz-transform: scale(1.1);

  -o-transform: scale(1.1);

  -ms-transform: scale(1.1);

  transform: scale(1.1);

}

.offer-item{

  position: relative;

  border-radius: 8px;

  background-color: #fff;

  overflow:hidden;

  margin-bottom: 30px;

  -webkit-box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.2);

  -moz-box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.2);

  box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.2);

}

.offer-thumb{

  position: relative;

}

.offer-thumb > a{

  display: block;

}

.offer-thumb > a > img{

  width: 100%;

}

.off-salary{

  position: absolute;

  background-color: #FAC05A;

  color: #fff;

  font-size: 26px;

  font-family: 'Montserrat-UltraLight';

  text-align: center;

  padding: 10px 15px;

  bottom: 0;

  left: 0;

}

.offer-txt{

  padding: 25px;

}

.offer-txt > h2{

  color: #13110C;

  font-size: 30px;

  font-family: 'Montserrat-UltraLight';

  font-weight: 600;

}

.offer-txt > h2 > a{

  display: inline-block;

  color: #13110C;

}

.offer-txt > p{

  font-size: 18px;

  font-weight: 300;

  color: #6C6B68;

  margin-top: 10px;

}

.offer-txt > h2 > a:hover,.offer-txt > h2 > a:focus{

  color: #FAC05A;

}

.offer-item:hover .img-hover > img{

  -webkit-transition-delay: 0s;

  -moz-transition-delay: 0s;

  -o-transition-delay: 0s;

  -ms-transition-delay: 0s;

  transition-delay: 0s;

  -webkit-transform: scale(1.1);

  -moz-transform: scale(1.1);

  -o-transform: scale(1.1);

  -ms-transform: scale(1.1);

  transform: scale(1.1);

}

.offers-list .view-btn{

  display: table;

  margin-left: auto;

  margin-right: auto;

  padding-left: 30px;

  padding-right: 30px;

}

#footer{

  padding: 40px 0;

  background-color: #fff;

}



.f-menu > li{

  float: left;

  margin-right: 40px;

  margin-top: 5px;

}

.f-menu > li:last-child{

  margin-right: 0;

}

.f-menu > li > a{

  display: inline-block;

  color: #13110C;

  font-weight: 300;

  font-size: 17px;

  text-transform: capitalize;

}

.f-menu > li > a:hover,.f-menu > li > a:focus{

  color: #FAC05A;

}

.f-social{

  margin-top: 5px;

}

.f-social > li{

  float: left;

  margin-right: 20px;

}

.f-social > li:last-child{

  margin-right: 0;

}

.f-social > li > a{

  display: block;

  color: #9F9E9C;

  font-size: 20px;

}

.f-social > li > a:hover,.f-social > li > a:focus{

  color: #FAC05A;

}

.paylist{

  margin-top: 10px;

}

.paylist li{

  float: left;

  margin-right: 10px;

}

.paylist li:last-child{

  margin-right: 0;

}

.paylist li a{

  display: block;

}

.paylist li img{

  width: 40px;

}

.copy-right{

  color: #6C6B68;

  font-size: 15px;

  font-weight: 300;

  margin-top: 20px;

}

.f-right{

  float: right;

}

.f-left{

  float: left;

}



#header{

  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  z-index: 2;

}

.h-top{

  padding: 15px 0;

}

.logo-site > img{

  width: 100px;

}

.main-menu{

  display: table;

  margin: auto;

}

.main-menu > li{

  float: left;

  margin-right: 40px;

  position: relative;

}

.main-menu > li:last-child{

  margin-right: 0;

}

.main-menu > li > a{

  display: block;

  color: #FFFFFF;

  font-size: 17px;

  position: relative;

  padding-bottom: 10px;

}

.main-menu > li > a:before{

  content: '';

  position: absolute;

  bottom: 0;

  left: 0;

  right: 0;

  margin: auto;

  height: 2px;

  width: 0;

  background-color: transparent;

  border-radius: 5px;

  -webkit-transition: all 0.4s ease;

  -moz-transition: all 0.4s ease;

  -ms-transition: all 0.4s ease;

  -o-transition: all 0.4s ease;

  transition: all 0.4s ease;

}

.main-menu > li.active > a:before,.main-menu > li:hover > a:before{

  background-color: #FAC05A;

  width: 70%;

}

.main-menu > li > a:hover,.main-menu > li.active > a{

  color: #FAC05A;

}

.h-right-group{

  float: right;

}

.action-right > li{

  float: left;

  margin-right: 20px;

}

.action-right > li:last-child{

  margin-right: 0;

}

.form-search{

  position: relative;

}

.form-search .form-control{

  background-color: #fff;

  border:0;

  box-shadow: none;

  border-radius: 30px;

  padding-left: 40px;

  height: 40px;

  min-width: 280px;

}

.btn-search-submit{

  position: absolute;

  top: 0;

  left: 0;

  background-color: transparent;

  border-radius: 0;

  border:0;

  box-shadow: none;

  height: 100%;

}

.btn-search-submit > img{

  width: 20px;

}

.form-search .form-control::-moz-placeholder {

  font-size: 16px;

  color: #ddd;

}



.form-search .form-control:-ms-input-placeholder {

  font-size: 16px;

  color: #ddd;

}



.form-search .form-control::-webkit-input-placeholder {

  font-size: 16px;

  color: #ddd;

}

.action-right .view-btn{

  margin-top: 0;

  height: 40px;

  line-height: 40px;

  padding: 0 20px;

  font-size: 16px;

  font-family: 'Work Sans', sans-serif;

}

.action-right > li  > a{

  display: block;

  color: #fff;

  font-size: 15px;

}

.action-right > li > a > img{

  display: inline-block;

  vertical-align: middle;

}

.lang-site img{

  width: 18px;

  height: 18px;

  margin-right: 8px;

}

.lang-site{

  margin-top: 10px;

}

.caret-ar{

  display: inline-block;

  vertical-align: middle;

  margin-left: 8px;

  font-size: 16px;

}

.user-profile img{

  width: 18px;

}

.user-profile{

  margin-top: 10px;

}

.user-profile .dropdown-menu{

  min-width: 100px;

}

.user-profile .dropdown-menu>li>a{

  font-size: 18px;

}

.owl-controls{

  margin: 0 !important;

}

#homeSlider .owl-dots{

  display: none !important;

}

#rating-slide .owl-dots{

  display: none !important;

}

.h-right-group{

  margin-top: 10px;

}

.h-bottom{

  margin-top: 10px;

}

.action-right > li  > a.search-icon-xs{

  display: none;

}

.hamburger {

  border: none;

  position: relative;

  z-index: 0;

  float: left;

  -webkit-transition: background-color .2s linear;

  -ms-transition: background-color .2s linear;

  transition: background-color .2s linear;

  display: none;

  margin-right: 0px;

  background-color: transparent;

}

.hamburger:hover{

  background-color: transparent;

}

.hamburger:hover span:nth-child(1) {

  transform: translate(0, -2px);

  -webkit-transform: translate(0, -2px);

  -ms-transform: translate(0, -2px);

}



.hamburger:hover span:nth-child(3) {

  transform: translate(0, 2px);

  -webkit-transform: translate(0, 2px);

  -ms-transform: translate(0, 2px);

}



.hamburger.active span:nth-child(1) {

  transform: rotate(45deg) translate(6px, 6px);

  -webkit-transform: rotate(45deg) translate(6px,6px);

  -ms-transform: rotate(45deg) translate(6px, 6px);

}



.hamburger.active span:nth-child(2) {

  transform: translate(-4px, 0);

  -webkit-transform: translate(-4px, 0);

  -ms-transform: translate(-4px, 0);

  opacity: 0;

}



.hamburger.active span:nth-child(3) {

  transform: rotate(-45deg) translate(6px, -6px);

  -webkit-transform: rotate(-45deg) translate(6px, -6px);

  -ms-transform: rotate(-45deg) translate(6px, -6px);

}



.hamburger span {

  width: 25px;

  height: 2px;

  border-radius: 10px;

  margin: auto;

  background-color: #fff;

  display: block;

  margin-bottom: 7px;

  -webkit-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);

  -ms-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);

  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}

.hamburger span:last-child{

  margin-bottom: 0;

}

.menu-toggle #header{

  z-index: 9999;

}

.menu-toggle .action-right li{

  display: none;

}

.menu-toggle .action-right li.hamburger-li{

  display: block;

}

/*mobile menu*/

/*menu*/

.menu-mobile{

  position: fixed;

  right: 0px;

  top: 0px;

  bottom: 0;

  padding-top: 90px;

  height: 100%;

  width: 100%;

  background: rgba(0,0,0,0.7);

  z-index: 1001;

  overflow-y:auto; 

  -webkit-transform:translateX(105%);

  -moz-transform:translateX(105%);

  -ms-transform:translateX(105%);

  -o-transform:translateX(105%);

  transform:translateX(105%);

  -webkit-transition: -webkit-transform .4s ease;

  transition: -webkit-transform .4s ease;

  transition: transform .4s ease;

  transition: transform .4s ease,-webkit-transform .4s ease;

  -webkit-box-shadow: -2px 0 20px 0 rgba(33, 23, 23, 0.68);

  box-shadow: -2px 0 20px 0 rgba(33, 23, 23, 0.68);

}

.brand-area{

  position: relative;

  padding-top: 20px;

}

.close_menu{

  position: absolute;

  top: 0;

  left: 0px;

  font-size: 24px;

  cursor: pointer;

  color: #363636;

  width: 35px;

  height: 35px;

  text-align: center;

  line-height: 35px;

  background-color: #fff;

  -webkit-transition: all 0.4s ease;

  -moz-transition: all 0.4s ease;

  -ms-transition: all 0.4s ease;

  -o-transition: all 0.4s ease;

  transition: all 0.4s ease;

}

.close_menu:hover{

  background-color: #767676;

  color: #fff;

}

.brand-area a {

    width:90%;

    height: auto;

    display: block;

    background-size: contain;

    margin: 0px auto 0 auto;

    margin-top: 10px;

    text-align: center;

}

.brand-area a > img{

  max-width: 100%;

  max-height: 100%;

}

.mmenu > ul.main-menu-xs {

    list-style: none;

    padding: 0px;

    margin: 0px;

}

.mmenu > ul.main-menu-xs li{

  margin-bottom: 15px;

}

.mmenu > ul.main-menu-xs li a {

    display: block;

    color:#fff;

    font-size: 16px;

    padding: 8px 15px;

    transition: all .3s;

    position: relative;

}

.mmenu > ul.main-menu-xs li a:before{

  content: '';

  position: absolute;

  top: 0;

  left: 0;

  width: 3px;

  height: 0;

  background-color: #FAC05A;

  border-radius: 10px;

  -webkit-transition: all 0.4s ease;

  -moz-transition: all 0.4s ease;

  -ms-transition: all 0.4s ease;

  -o-transition: all 0.4s ease;

  transition: all 0.4s ease;

}

.mmenu > ul.main-menu-xs li.active a:before,.mmenu > ul.main-menu-xs li:hover a:before{

  height: 100%;

}

.mmenu > ul.main-menu-xs li a > i{

  margin-left: 5px;

}

.mmenu > ul.main-menu-xs li a:hover,.mmenu > ul.main-menu-xs li.active a {

    color: #FAC05A;

}



.m-overlay {

    position: fixed;

    content: '';

    left: 0px;

    top: 0px;

    right: 0px;

    bottom: 0px;

    background: #333;

    z-index: 1000;

    opacity: 0;

    visibility: hidden;

    transition: all .3s;

}

.menu-toggle {

    overflow: hidden;

}

.menu-toggle .m-overlay {

    opacity: 0.6;

    visibility: visible;

}

.menu-toggle .menu-mobile {

    -webkit-transform: translateX(0);

    -moz-transform: translateX(0);

    -ms-transform: translateX(0);

    -o-transform: translateX(0);

    transform: translateX(0);



}



/*.menu-toggle .main-wrapper{



  -webkit-transform:translate3d(-250px,0,0);

  -moz-transform:translate3d(-250px,0,0);

  -ms-transform:translate3d(-250px,0,0);

  -o-transform:translate3d(-250px,0,0);

  transform:translate3d(-250px,0,0);



}*/

html.menu-toggle{

  overflow: hidden;

}

.mmenu .social-mobile li{

  display: inline-block;

  margin: 5px;

}

.mmenu .social-mobile{

  display: table;

  margin: auto;

  text-align: center;

}

.mmenu .social-mobile li a{

  display: block;

  width: 30px;

  height: 30px;

  border-radius: 50%;

  line-height: 30px;

  color: #fff;

  font-size: 16px;

  padding:0;

  text-align: center;

}

.mmenu .social-mobile li a > i{

  margin: 0;

}

.mmenu .social-mobile li a{

  border-bottom: 0;

}



.hamburger-li{

  display: none;

}

.add--cafe-xs{

  line-height: 25px;

  padding: 8px 30px;

  background-color: #FAC05A;

  display: table;

  margin: auto;

  border-radius: 30px;

  color: #FFFFFF;

  font-size: 16px;

  margin-top: 20px;

  margin-bottom: 10px;

}

.add--cafe-xs:hover,.add--cafe-xs:focus{

  background-color: #5F5A50;

  color: #fff;

  -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.2);

  -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.2);

  box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.2);

}

#header.header-innerPage{

  position: relative;

  background-color: #13110C;

}

.header-innerPage .search-icon-xs{

  display: inline-block;

}

.search-icon-xs{

  cursor: pointer;

}

.search-icon-xs img{

  width: 22px;

}

.header-innerPage .user-profile img{

  width: 20px;

}

.header-innerPage .h-right-group{

  margin-top: 5px;

}

.header-innerPage .search-icon-xs{

  margin-top: 10px;

}

.header-innerPage .main-menu > li{

  margin-right: 25px;

}

.header-innerPage .main-menu > li:last-child{

  margin-right: 0;

}

.header-innerPage .logo-site > img{

  height: 50px;

}

.header-innerPage .h-bottom{

  margin-top: 15px;

}

.main-menu > li > a:before{

  height: 3px;

  bottom: -10px;

}

.top-innerPage-box{

  background-color: #fff;

  padding: 25px 0;

}

.top-iP-left{

  float: left;

}

.top-iP-left > h2{

  color: #13110C;

  font-size: 40px;

  font-family: 'Montserrat-UltraLight';

  margin-bottom: 10px;

  font-weight: 600;

}

.top-iP-left > p{

  color: #6C6B68;

  font-weight: 300;

  font-size: 18px;

}

.filter-category{

  float: right;

}

.filter-rg{

  display: inline-block;

  vertical-align: middle;

  margin-top: 20px;

  margin-right: 10px;

}

.filter-rg:last-child{

  margin-right: 0;

}

.filter-rg .form-control{

  background-color: transparent;

  border:1px solid #E6E6E6;

  border-radius: 30px;

  box-shadow: none;

  height: 40px;

  font-size: 15px;

  color: #6C6B68;

  font-family: 'Work Sans', sans-serif;

}

.section-innerPage-content{

  padding:40px 0; 

}

.category-items-list .row{

  margin-left: -10px;

  margin-right: -10px;

}

.category-items-list .col-sm-4{

  padding-right: 10px;

  padding-left: 10px;

}

.Cafes-item{

  position: relative;

  background-color: #fff;

  border-radius: 8px;

  margin-bottom: 20px;

  -webkit-box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.1);

  -moz-box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.1);

  box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.1);

  overflow:hidden;


}
.Cafes-i-thumb{
  height: 240px;
  max-height: 100%;
}
.Cafes-i-txt{

  padding: 25px 20px;

}

.Cafes-i-txt > h2{

  font-size: 26px;

  color: #13110C;

  font-family: 'Montserrat-UltraLight';

  font-weight: 600;

  margin-bottom: 10px;

  line-height: 30px;

  height: 30px;

  overflow: hidden;

}

.Cafes-i-txt > h2 > a{

  display: inline-block;

  color: #13110C;



}

.Cafes-i-txt > p{

  color: #6C6B68;

  font-size: 18px;

  font-weight: 300;
  height: 44px;
  overflow:hidden;
  line-height: 22px;

}

.Cafes-i-thumb{

  display: block;

}

.Cafes-i-thumb > img{

  width: 100%;

}

.Cafes-item:hover .img-hover img{

  -webkit-transition-delay: 0s;

  -moz-transition-delay: 0s;

  -o-transition-delay: 0s;

  -ms-transition-delay: 0s;

  transition-delay: 0s;

  -webkit-transform: scale(1.1);

  -moz-transform: scale(1.1);

  -o-transform: scale(1.1);

  -ms-transform: scale(1.1);

  transform: scale(1.1);

}

.Cafes-i-txt > h2 > a:hover{

  color: #FAC05A;

}

.category-items-list .view-btn{

  display: table;

  margin-left: auto;

  margin-right: auto;

}

.filter-rg{

  position: relative;

}

.filter-rg select.form-control{

    appearance:none;

    -moz-appearance:none;

    -webkit-appearance:none; 

    padding-right: 30px;

    position: relative;

}



.filter-rg > img{

  position: absolute;

  top: 17px;

  right: 12px;

  font-size: 14px;

  z-index: 1;

  width: 10px;

  color: #999999;

}

.filter-rg .form-control::-moz-placeholder {

  font-size: 15px;

  color: #ddd;

  font-family: 'HelveticaNeue-Medium';

  font-weight: 300;

}



.filter-rg .form-control:-ms-input-placeholder {

  font-size: 15px;

  color: #ddd;

  font-family: 'HelveticaNeue-Medium';

  font-weight: 300;

}



.filter-rg .form-control::-webkit-input-placeholder {

  font-size: 15px;

  color: #ddd;

  font-family: 'HelveticaNeue-Medium';

  font-weight: 300;

}

.offers-slide .owl-nav > div{

  position: absolute;

  top:0;

  bottom: 0;

  width: 50px;

  height: 50px;

  line-height: 50px;

  text-align: center;

  color: #fff;

  font-size: 36px;

  margin: auto;

}

.offers-slide .owl-nav > div.owl-prev{

  left:-45px;

}

.offers-slide .owl-nav > div.owl-next{

  right:-45px;

}

.offers-slide .owl-nav > div span{

  width: 100%;

  height: 100%;

  display: block;

}

.offers-slide .owl-nav > div span img{

  width: 40px;

  height: 40px;

}

.offers-slide .owl-dots{

  display: none !important;

}

.login-page{

  min-height:calc(100vh - 80px);

  display: flex;

}

.login-box{

  width: 450px;

  top: 50%;

  left: 50%;

  background-color: #FFFFFF;

  border-radius: 8px;

  padding: 15px;

  display: table;

  margin: auto;

}

.login-box > h2{

  color: #FAC05A;

  font-size: 16px;

  font-weight: 600;

  margin-bottom: 20px;

}

.header-innerPage .logo-site{

  float: left;

}

.header-innerPage .h-right-group{

  float: right;

}

.header-innerPage .h-bottom{

  position: absolute;

  width: calc(100% - 670px);

  left: 50%;

  transform: translate(-50%);

}



.offers-slide .offer-item{

  -webkit-box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.15); 

  -moz-box-shadow: 0px 0px 45px 0px rgba(0,0,0,15);

  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);

}

.form-style1 label{

  color: #6C6B68;

  font-size: 16px;

  font-weight: normal;

}

.form-style1 .form-control{

  box-shadow: none;

  border:1px solid #DDDDDD;

  border-radius: 5px;

  height: 44px;

  font-size: 16px;

  color: #6C6B68;

}

.form-style1 .form-control::-moz-placeholder {

  font-size: 16px;

  color: #ddd;

}



.form-style1 .form-control:-ms-input-placeholder {

  font-size: 16px;

  color: #ddd;

}



.form-style1 .form-control::-webkit-input-placeholder {

  font-size: 16px;

  color: #ddd;

}

.form-style1 .btn-st-submit{

  float: right;

  background-color: #FAC05A;

  border:0;

  box-shadow: none;

  color: #fff;

  font-size: 16px;

  padding-left: 20px;

  padding-right: 20px;

  height: 45px;

}

.form-style1 .btn-st-submit:hover,.form-style1 .btn-st-submit:focus{

  background-color: #5F5A50;

  color: #fff;

}

.cafe-photo-box > h2{

  color: #13110C;

  font-size: 30px;

  font-family: 'Montserrat-UltraLight';

  font-weight: 600;

  margin-bottom: 20px;

}

.cafe-photo-box .rating-item{

  padding: 0;

  margin-bottom: 20px;

}

.cafe--thumb{

  background-color: #fff;

  border-radius: 5px;

  overflow:hidden;

  -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.2);

  -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.2);

  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.2);

  text-align: center;

  margin-bottom: 20px;

}

.cafe--txt p{

  color:#6C6B68;

  font-size:18px;

  margin-bottom: 20px;

}

.meta-cafe li{

  float: left;

  margin-right: 20px;

  margin-bottom: 20px;

  font-size: 16px;

  color: #6C6B68;

  position: relative;

  padding-left: 40px;

}

.meta-cafe li > img{

  display: inline-block;

  vertical-align: middle;

  width: 18px;

  position: absolute;

  top: 0;

  left: 0;

}

.cafe--txt{

  margin-bottom: 20px;

}

.cafe-desc-box{

  padding: 20px 0;

}

.cafe-fetBox{

  background-color: #fff;

  border-radius: 5px;

  height: 140px;

  text-align: center;

  padding: 25px 10px;

  -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);

  -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);

  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);

}

.cafe-fetBox img{

  max-width: 40px;

  margin: auto;

  max-height: 35px;

  margin-bottom: 10px;

}

.cafe-fetBox h3{

  color: #6C6B68;

  font-size: 16px;

  margin-bottom: 10px;

  font-weight: 300;

}

.cafe-fetBox p{

  font-size: 16px;

  color: #6C6B68;

  font-weight: 600;

}

.cafe-fetBox{

   margin-bottom: 20px;

}

.cafe-thumbs-b{

  margin-top: 60px;

}

.cafe--thumb img{

  margin: auto;

}



.cafe-thumbs-b .row{

  margin-right: -10px;

  margin-left: -10px;

}

.cafe-thumbs-b .col-xs-3{

  padding-right: 10px;

  padding-left: 10px;

}

.form-style1 .row{

  margin-right: -10px;

  margin-left: -10px;

}

.form-style1 .col-sm-6,.form-style1 .col-sm-12{

  padding-left: 10px;

  padding-right: 10px;

}

.about--txt > h2{

  color: #13110C;

  font-size: 40px;

  font-family: 'Montserrat-Regular';

  margin-bottom: 30px;

}

.about--txt > h2 > span{

  display: inline-block;

  color: #FAC05A;

}

.padd-0{

  padding: 0;

}

.about-txt-box > h3{

  position: relative;

  padding-bottom: 20px;

  color: #13110C;

  font-size: 24px;

  font-family: 'Montserrat-Light';

  margin-bottom: 20px;

}

.about-txt-box > h3:before{

  content: '';

  position: absolute;

  bottom: 0;

  left: 0;

  width: 60px;

  height: 2px;

  background-color: #FAC05A;

}

.about-txt-box > p{

  margin-bottom: 20px;

  color: #6C6B68;

  font-size:15px;

  font-weight: 300;

}

.about-txt-box > p:last-child{

  margin-bottom: 0;

}

.about-txt-box{

  margin-bottom: 50px;

}

.about--img{

  height: 100%;

  width: 50%;

}



.section-innerPage-content{

  position: relative;

}

.container-abs{

  top: 0;

  right: 0;

  margin: auto;

  left: 0;

}

.about--txt{

  padding: 50px 0 50px 50px;

}

.about-page{

  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

}

.about--img img{

  height: 100%;

  width: 100%;

  display: none;

}

.about--img{

  background-size: cover;

  background-position: center;

  background-repeat: no-repeat;

}

.contact-whiteBox{

  background-color: #fff;

  border-radius: 5px;

  padding: 15px;

  -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.15);

  -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.15);

  box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.15);

}

.con-tit{

  color: #FAC05A;

  font-size: 16px;

  font-weight: 500;

  margin-bottom: 30px;

}



.form-style1 textarea.form-control{

  height: 200px;

  resize: vertical;

  resize: none;

}

.contact-form-box .btn-st-submit{

  width: 100%;

}



.cInfo-row{

  position: relative;

  margin-bottom:100px;

}

.cInfo-icon{

  float: left;

  width: 48px;

  height: 48px;

  border-radius: 50%;

  border:1px solid #F4F2F2;

  line-height: 46px;

  text-align: center;

}

.cInfo-icon > img{

  width: 20px;

  height: 20px;

}

.cInfo-txt{

  margin-left: 70px;

}

.cInfo-txt > h3{

  color: #FAC05A;

  font-size: 16px;

  margin-bottom: 10px;

  text-transform: uppercase;

  font-weight: 500;

}

.cInfo-txt > p{

  color: #13110C;

  font-size: 16px;

  font-weight: 300;

}

.contract-whiteBox{

  background-color: #fff;

  border-radius: 5px;

  padding: 15px;

  -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.15);

  -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.15);

  box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.15);

  padding: 40px 25px;

}

.contract-block{

  margin-bottom: 50px;

}

.contract-block > h3{

  color: #13110C;

  font-size: 24px;

  font-family: 'Montserrat-Light';

  margin-bottom: 25px;

}

.contract-block > p{

  color: #6C6B68;

  font-size: 16px;

  font-weight: 300;

  line-height: 22px;

}

.contract-btn{

  display: block;

  text-align: center;

  background-color: #FAC05A;

  border:0;

  box-shadow: none;

  color: #fff;

  font-size: 16px;

  padding-left: 20px;

  padding-right: 20px;

  height: 45px;

  line-height: 45px;

  border-radius: 5px;

  margin-bottom: 20px;

}

.contract-btn:hover,.contract-btn:focus{

  color: #fff;

  background-color: #5F5A50;

}

.profile--block{

  text-align: center;

}

.profile--block > img{

  border:1px solid #95989A;

  width: 120px;

  height: 120px;

  border-radius: 50%;

  margin-bottom: 20px;

}

.profile--block > h2{

  color: #13110C;

  font-size:36px;

  font-family: 'Montserrat-UltraLight';

  margin-bottom: 10px;

}

.profile--block > h3{

  font-size: 18px;

  color: #6C6B68;

  font-weight: 300;

}

.profile--block > .edit-profile{

  margin-bottom:20px;

  font-size: 16px;

  font-family: 'Work Sans', sans-serif;

}

.event--details .h-s-thumb{

  padding: 0;

  margin-bottom: 20px;

}

.event--details .h-s-thumb img{

  -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.2);

  -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.2);

  box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.2);

  border-radius: 0;

}

.event--txt > h2{

  color: #13110C;

  font-size: 36px;

  font-family: 'Montserrat-UltraLight';

  margin-bottom:20px;

  font-weight: 600;

}

.event--txt > p{

  color: #6C6B68;

  font-size: 18px;

  font-weight: 300;

  white-space: pre-line;

}

.addCafe-whiteBox{

  background-color: #fff;

  border-radius: 5px;

  padding: 15px;

  -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.15);

  -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.15);

  box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.15);

}

.ac-trg{

  color: #FAC05A;

  font-size: 16px;

  font-weight: 500;

  margin-bottom: 20px;

}

.worktime-input{

  position: relative;

}

.input-col .row{

  margin-left: -5px;

  margin-right: -5px;

}

.input-col .col-xs-6{

  padding-left: 5px;

  padding-right: 5px;

}

.worktime-label{

  position: absolute;

  top: 0;

  left: 0;

  height: 100%;

  background-color: #FCFCFC;

  width: 90px;

  padding: 10px;

  border:1px solid #DDDDDD;

  border-top-left-radius: 5px;

  border-bottom-left-radius: 5px;

}

.worktime-label > img{

  display: inline-block;

  vertical-align: middle;

  width: 17px;

}

.worktime-label > span{

  display: inline-block;

  vertical-align: middle;

  color: #6C6B68;

  font-size: 16px;

  margin-left: 5px;

}

.worktime-input .form-control{

  padding-left: 100px;

}

.location-map{

  position: relative;

}

.addCafe-whiteBox .form-style1 textarea.form-control{

  height: 120px;

  resize: vertical;

  resize: none;

}

.location-map img{

  position: absolute;

  top: 40px;

  right: 10px;

  width: 15px;

}

.location-map .form-control{

  padding-right: 20px;

}





.wrapper {

  width: 100%;

  height: 265px;

  background-color: #FCFCFC;

  border:1px solid #DDDDDD;

  border-radius: 5px;

  position: relative;

}

 

.drop {

  width: 100%;

  height: 100%;

  overflow: hidden;

  text-align: center;

  -webkit-transition: all 0.5s ease-out;

  -moz-transition: all 0.5s ease-out;

  transition: all 0.5s ease-out;

  margin: auto;

  position: absolute;

  top: 0;

  left: 0;

  bottom: 0;

  right: 0;

  /*&:hover

   * cursor: pointer

   * background: #f5f5f5 */

}

.drop .cont {

  /*width: 500px;

  height: 170px;*/

  color: #8E99A5;

  -webkit-transition: all 0.5s ease-out;

  -moz-transition: all 0.5s ease-out;

  transition: all 0.5s ease-out;

  margin: auto;

  position: absolute;

  top: 50%;

  left: 50%;

  bottom: 0;

  right: 0;

  margin: auto;

  width: 100%;

  transform: translate(-50% , -50%);

}

.drop .cont i {

  font-size: 400%;

  color: #8E99A5;

  position: relative;

}

.drop .cont .tit {

  font-size: 16px;

  color: #6C6B68;

  text-transform: uppercase;

}

.drop .cont .desc {

  color: #6C6B68;

  font-size: 16px;

}

.drop .cont .browse {

  margin: 10px auto;

  color: white;

  display: table;

  padding: 8px 20px;

  border-radius: 25px;

  background: transparent;

  border:2px solid #FAC05A;

  color: #FAC05A;

  font-size: 15px;

  font-weight: 500;

}

.drop input {

  width: 100%;

  height: 100%;

  cursor: pointer;

  background: red;

  opacity: 0;

  margin: auto;

  position: absolute;

  top: 0;

  left: 0;

  bottom: 0;

  right: 0;

}

 

#list,#list1 {

  width: 100%;

  max-height: 100%;

  position: absolute;

  left: 0;

  top: 0;

  bottom: 0;

  margin: auto;

  display: table;

  padding: 0;

}

#list .thumb,#list1 .thumb {

  height:auto;

}

#list > span,#list1 > span{

  display: block;

}

.cont > img{

  width: 60px;

  margin-bottom: 20px;

}

.upload--images-box{

  width: 100%;

  height: 265px;

  background-color: #FCFCFC;

  border:1px solid #DDDDDD;

  border-radius: 5px;

  position: relative;

  overflow:hidden;

}



#up--file,#up--file1,#up--file2,#up--file3,#up--file4{

  position: absolute;

  width: 100%;

  height: 100%;

  cursor: pointer;

  z-index: 999;

  opacity: 0;

}



.up--image--result{

  position: absolute;

  top: 0;

  left: 0;

  bottom: 0;

  right: 0;

  margin: auto;

  display: table;

  width: 100%;

  text-align: center;

}



.cafe-tab-menu{

  display: block;

  width: 100%;

}

.cafe-tab-menu > li{

  float: left;

  margin-right: 2%;

  margin-bottom: 20px;

  width: 32%;

}

.cafe-tab-menu > li:last-child{

  margin-right: 0;

}

.cafe-tab-menu > li > a{

  display: block;

  color: #6C6B68;

  font-size: 16px;

  border:1px solid #DDDDDD;

  border-radius: 5px;

  background-color: transparent;

  text-align: center;

  padding: 10px 12px;

  line-height: 22px;

}

.cafe-tab-menu > li.active > a,.cafe-tab-menu > li > a:hover{

  background-color: #FAC05A;

  color: #fff;

  border-color: #FAC05A;

}



.tab-pane .upload--images-box{

  height: 280px;

}

.feat-row{

  position: relative;

  margin-bottom: 10px;

  padding: 15px 115px 15px 10px;

  border-radius: 5px;

  border:1px solid #DDDDDD;

}

.feat-row > p{

  color: #6C6B68;

  font-size: 16px;

  line-height: 25px;

}

.switch-checkbox{

  position: absolute;

  top: 0px;

  bottom: 0;

  margin: auto;

  right: 10px;

  height: 36px;

}

.switch-checkbox .switch {

  position: relative;

  display: inline-block;

  width: 100px;

  height: 36px;

  margin: 0;

}



.switch-checkbox .switch input {display:none;}



.switch-checkbox .slider {

  position: absolute;

  cursor: pointer;

  top: 0;

  left: 0;

  right: 0;

  bottom: 0;

  background-color: #fff;

  -webkit-transition: .4s;

  transition: .4s;

  border:1px solid #e5e5e5;

}



/*.switch-checkbox .slider:before {

  position: absolute;

  content: "";

  height: 30px;

  width: 30px;

  left: 0;

  bottom: 0;

  background-color: white;

  -webkit-transition: .4s;

  transition: .4s;

  border:1px solid #e5e5e5;

}*/



.switch-checkbox input:checked + .slider {

  background-color: transparent;

}



.switch-checkbox input:focus + .slider {

  box-shadow: 0 0 1px #2196F3;

}



/*.switch-checkbox input:checked + .slider:before {

  -webkit-transform: translateX(28px);

  -ms-transform: translateX(28px);

  transform: translateX(28px);

  border-color: #fff;

}*/



/* Rounded sliders */

.switch-checkbox .slider.round {

  border-radius: 30px;

}



/*.switch-checkbox .slider.round:before {

  border-radius: 50%;

}*/

.switch-checkbox .slider span{

  float: left;

  width: 50%;

  height: 100%;

  text-align: center;

  line-height: 34px;

  color: #90908F;

  font-size: 15px;

  background-color: transparent;

  -webkit-transition: .4s;

  transition: .4s;

  color: #fff;

}

.switch-checkbox .slider .s-yes {

 color: #90908F;

}

.switch-checkbox input:checked + .slider .s-yes {

 color: #fff;

}

.switch-checkbox input:checked + .slider .s-no {

 color: #90908F;

}

.switch-checkbox .slider{

  z-index: 0;

}

.switch-checkbox .slider:before{

  content: '';

  position: absolute;

  height: 36px;

  top: 0;

  bottom: 0;

  right: 0;

  margin: auto;

  width: 50%;

  background-color: #FAC05A;

  border-top-right-radius: 30px;

  border-bottom-right-radius: 30px;

  z-index: -1;

  -webkit-transition: .4s;

  transition: .4s;

}

.switch-checkbox input:checked + .slider:before {

  -webkit-transform: translateX(-50px);

  -ms-transform: translateX(-50px);

  transform: translateX(-50px);

  border-color: #fff;

  border-top-right-radius: 0px;

  border-bottom-right-radius: 0px;

  border-top-left-radius: 30px;

  border-bottom-left-radius: 30px;

}

.discount-select{

  position: absolute;

  top: 0;

  bottom: 0;

  right: 10px;

  margin: auto;

  height: 36px;

}

.discount-select .form-control{

  height: 36px;

  border-radius: 30px;

  box-shadow: none;

  width: 100px;

  border:1px solid #e5e5e5;

}

.discount-select .select2-container--default .select2-selection--single{

  height: 36px;

  border-radius: 30px;

  box-shadow: none;

  width: 100px;

  border:1px solid #e5e5e5; 

}

.discount-select .select2-container--default .select2-selection--single .select2-selection__rendered{

  line-height: 34px;

}

.discount-select .select2-container--default .select2-selection--single .select2-selection__arrow{

  height: 36px;

}





.mobile-overlay {

    -webkit-transition: all .5s ease-in-out;

    -moz-transition: all .5s ease-in-out;

    -o-transition: all .5s ease-in-out;

    transition: all .5s ease-in-out;

    position: fixed;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    opacity: 1;

    visibility: hidden;

    z-index:22;

}

.mobile-overlay:before {

    -webkit-transition: all .5s ease-in-out;

    -moz-transition: all .5s ease-in-out;

    -o-transition: all .5s ease-in-out;

    transition: all .5s ease-in-out;

    content: '';

    background: #000;

    left: -55%;

    top: 0;

    width: 50%;

    height: 100%;

    position: absolute;

}

.mobile-overlay:after {

    -webkit-transition: all .5s ease-in-out;

    -moz-transition: all .5s ease-in-out;

    -o-transition: all .5s ease-in-out;

    transition: all .5s ease-in-out;

    content: '';

    background: #000;

    right: -55%;

    top: 0;

    width: 50%;

    height: 100%;

    position: absolute;

}

.menu {

    z-index: 999;

    position: relative;

}

.nav-icon {

    -webkit-transition: all .5s ease-in-out;

    -moz-transition: all .5s ease-in-out;

    -o-transition: all .5s ease-in-out;

    transition: all .5s ease-in-out;

    width: 28px;

    height: 20px;

    -webkit-transform: rotate(0deg);

    -moz-transform: rotate(0deg);

    -o-transform: rotate(0deg);

    transform: rotate(0deg);

    cursor: pointer;

}

.nav-icon span {

    -webkit-transition: all .5s ease-in-out;

    -moz-transition: all .5s ease-in-out;

    -o-transition: all .5s ease-in-out;

    transition: all .5s ease-in-out;

    display: block;

    position: absolute;

    height: 2px;

    width: 100%;

    background: #fff;

    opacity: 1;

    left: 0;

    -webkit-transform: rotate(0deg);

    -moz-transform: rotate(0deg);

    -o-transform: rotate(0deg);

    transform: rotate(0deg);

}

.nav-icon span:nth-child(1) {

    top: 0px;

}

.nav-icon span:nth-child(2) {

    top: 8px;

}

.nav-icon span:nth-child(3) {

    top: 16px;

}

.nav-icon.active span:nth-child(1) {

    top: 8px;

    background-color: #fff;

    -webkit-transform: rotate(135deg);

    -moz-transform: rotate(135deg);

    -o-transform: rotate(135deg);

    transform: rotate(135deg);

}

.nav-icon.active span:nth-child(2) {

    opacity: 0;

    left: -60px;

}

.nav-icon.active span:nth-child(3) {

    top: 8px;

    background-color: #fff;

    -webkit-transform: rotate(-135deg);

    -moz-transform: rotate(-135deg);

    -o-transform: rotate(-135deg);

    transform: rotate(-135deg);

}

.mobile-overlay.open {

    opacity: .9;

    visibility: visible;

    height: 100%;

}

.mobile-overlay.open:before {

    left: 0;

}

.mobile-overlay.open:after {

    right: 0;

}



.body-open #header{

  z-index: 999;

}

.body-open #header .action-right li{

  display: none;

}

.body-open #header .action-right li.hamburger-li{

  display: block;

} 

.overlay-menu li{

  display: block;

}

.overlay-menu li > a{

  display: block;

  color: #FFFFFF;

  font-size: 16px;

}



.mobile-overlay nav {

    position: relative;

    z-index: 100;

}

.mobile-overlay ul {

    list-style: none;

    padding: 0;

    margin: 0 auto;

    display: block;

    position: relative;

}

.mobile-overlay ul li {

    display: block;

    margin-bottom: 10px;  

    position: relative;

    opacity: 0;

}

.mobile-overlay ul li a {

    display: block;

    position: relative;

    color: #FFF;

    text-decoration: none;

    font-size: 18px;

    position: relative;

    padding: 5px 12px;

}

.mobile-overlay ul li a:hover,.mobile-overlay ul li.active a{

  color: #FAC05A;

}

.mobile-overlay ul li a:before{

  content: '';

  position: absolute;

  top: 0;

  left: 0;

  width: 3px;

  height: 0;

  border-radius: 25px;

  background-color: #FAC05A;

  -webkit-transition: all 0.4s ease;

  -moz-transition: all 0.4s ease;

  -ms-transition: all 0.4s ease;

  -o-transition: all 0.4s ease;

  transition: all 0.4s ease;

}

.mobile-overlay ul li.active a:before,.mobile-overlay ul li a:hover:before{

  height: 100%;

}

.mobile-overlay.open li {

    -webkit-animation: fadeInRight .5s ease forwards;

    -moz-animation: fadeInRight .5s ease forwards;

    -o-animation: fadeInRight .5s ease forwards;

    animation: fadeInRight .5s ease forwards;

    -webkit-animation-delay: .35s;

    -moz-animation-delay: .35s;

    -o-animation-delay: .35s;

    animation-delay: .35s;

}

.mobile-overlay.open li:nth-of-type(2) {

    -webkit-animation-delay: .45s;

    -moz-animation-delay: .45s;

    -o-animation-delay: .45s;

    animation-delay: .45s;

}

.mobile-overlay.open li:nth-of-type(3) {

    -webkit-animation-delay: .55s;

    -moz-animation-delay: .55s;

    -o-animation-delay: .55s;

    animation-delay: .55s;

}

.mobile-overlay.open li:nth-of-type(4) {

    -webkit-animation-delay: .65s;

    -moz-animation-delay: .65s;

    -o-animation-delay: .65s;

    animation-delay: .65s;

}

.mobile-overlay.open li:nth-of-type(5) {

    -webkit-animation-delay: .75s;

    -moz-animation-delay: .75s;

    -o-animation-delay: .75s;

    animation-delay: .75s;

}

.mobile-overlay.open li:nth-of-type(6) {

    -webkit-animation-delay: .85s;

    -moz-animation-delay: .85s;

    -o-animation-delay: .85s;

    animation-delay: .85s;

}

@-webkit-keyframes fadeInRight {

  0% {

    opacity: 0;

    left: 20%;

  }

  100% {

    opacity: 1;

    left: 0;

  }

}



@keyframes fadeInRight {

  0% {

    opacity: 0;

    left: 20%;

  }

  100% {

    opacity: 1;

    left: 0;

  }

}

.overlay-menu{

  padding-top: 100px;

}



.body-open #header{

  position: fixed;

}

/*.body-open{

  height: 100vh;

  overflow:hidden;

}*/

.overlay-menu .view-btn{

  display: table;

  margin:50px auto 0;

}

.mobile-overlay.open .view-btn{

  -webkit-animation: fadeInRight .5s ease forwards;

  -moz-animation: fadeInRight .5s ease forwards;

  -o-animation: fadeInRight .5s ease forwards;

  animation: fadeInRight .5s ease forwards;

  -webkit-animation-delay: .35s;

  -moz-animation-delay: .35s;

  -o-animation-delay: .35s;

  animation-delay: .35s;

}

.action-right .dropdown-menu{

  left: 50%;

  margin: auto;

  transform: translateX(-50%);

  border:0;

  margin-top: 15px;

  padding: 18px 15px;

}



.action-right .dropdown-menu:after {

    left: 0px;

    right: 0;

    margin: auto;

    top: -15px;

    border: solid transparent;

    content: " ";

    height: 0;

    width: 0;

    position: absolute;

    pointer-events: none;

    border-left-color: #fff;

    border-right-color: transparent;

    border-top-color: transparent;

    border-bottom-color: transparent;

    border-top-width: 5px;

    border-right-width: 10px;

    border-bottom-width: 5px;

    border-left-width: 10px;

    z-index: 1;

    -ms-transform: rotate(-90deg);

    -webkit-transform: rotate(-90deg);

    transform: rotate(-90deg);

}

.dropdown-menu>li>a.Sign-btn{

  border-radius: 30px;

  height: 40px;

  line-height: 36px;

  border:2px solid #FAC05A;

  text-align: center;

  color: #FAC05A;

  padding: 0;

  display: block;

  padding: 0 25px;

  width: 140px;

}

.dropdown-menu li{

  margin-bottom: 10px;

}

.dropdown-menu li:last-child{

  margin-bottom: 0;

}

.dropdown-menu>li>a.Sign-btn.bg-color{

  background-color: #FAC05A;

  border-color: #FAC05A;

  color: #fff;

}

.dropdown-menu>li>a.Sign-btn:hover,.dropdown-menu>li>a.Sign-btn:focus{

  background-color: #FAC05A;

  border-color: #FAC05A;

  color: #fff;

}

.action-right .dropdown-menu.ul-drop-lang{

  padding: 10px 5px;

  min-width: 120px;

}

.dropdown-menu.ul-drop-lang>li>a{

  font-size: 16px;

}

.lang-xs{

  display: table;

  margin: auto;

  border:1px solid rgba(255,255,255,0.15);

  border-radius: 25px;

  padding: 10px 25px;

  margin-top: 50px;

}

.lang-xs > li{

  float: left;

  position: relative;

  padding-right: 15px;

  margin-right: 10px;

}

.lang-xs > li:before{

  content: '/';

  position: absolute;

  top: -3px;

  right: 0;

  bottom: 0;

  margin: auto;

  color: #fff;

  font-size: 18px;



}

.lang-xs > li:last-child{

  padding-right: 0;

  margin-right: 0;

}

.lang-xs > li:last-child:before{

  display:none;

}

.lang-xs > li > a{

  color: #fff;

  font-size: 14px;

}

.lang-xs > li.active a,.lang-xs > li:hover a{

  color: #FAC05A;

}



.search_icon{

  float: left;

  display: block;

  line-height: 1;

  text-align: center;

  color: #000;

  font-size: 20px;

  background-color: transparent;

  -webkit-transition: all 0.2s ease;

  -moz-transition: all 0.2s ease;

  -ms-transition: all 0.2s ease;

  -o-transition: all 0.2s ease;

  transition: all 0.2s ease;

  margin: 15px 25px 0 0;



}

.search_icon:hover{

  color: #767676;

}



.form_search .form-group > .search_submit{

  position: absolute;

  left: 20px;

  top: 10px;

  background-color: transparent;

  line-height: 1;

  z-index: 1;

}

.form_search .form-group .search_submit > i{

  display: block;

  font-size: 24px;

}

.form_search .form-group .search_submit > i:before{

  font-size: 24px;

  color: #767676;

}

.form_search .form-group .form-control{

  padding-left: 45px;

  border-radius: 15px;

  border:1px solid #767676;

  box-shadow: none;

  height: 40px;

  color: #767676;

  font-size: 18px;

  position: relative;

  font-weight: 300;   

  margin: 0px auto;

  outline: none;

}

.form_search .form-control::-moz-placeholder {

  color: #ddd;

  font-size: 18px;

}



.form_search .form-control:-ms-input-placeholder {

  color: #ddd;

  font-size: 18px;

}



.form_search .form-control::-webkit-input-placeholder {

  color: #ddd;

  font-size: 18px;

}

.form_search .form-group {

    position: relative;

    margin-bottom: 0;

}

#search {

    position: fixed;

    top: 0px;

    left: 0px;

    width: 100%;

    height: 100%;

    background-color: rgba(0, 0, 0, 0.8);

    -webkit-transition: all 0.2s ease-in-out;

    -moz-transition: all 0.2s ease-in-out;

    -o-transition: all 0.2s ease-in-out;

    -ms-transition: all 0.2s ease-in-out;

    transition: all 0.2s ease-in-out;

    -webkit-transform: translate(0px, 0) scale(0, 0);

    -moz-transform: translate(0px, 0) scale(0, 0);

    -o-transform: translate(0px, 0) scale(0, 0);

    -ms-transform: translate(0px, 0) scale(0, 0);

    transform: translate(0px, 0) scale(0, 0);

    opacity: 0;

    z-index: 999;

}

#search.open {

    -webkit-transform: translate(0px, 0px) scale(1, 1);

    -moz-transform: translate(0px, 0px) scale(1, 1);

    -o-transform: translate(0px, 0px) scale(1, 1);

    -ms-transform: translate(0px, 0px) scale(1, 1);

    transform: translate(0px, 0px) scale(1, 1); 

    opacity: 1;

}



#search .form-control{

  width: 100%;

}

.center-screen{

  display: table;

  width: 100%;

  height: 100%;

  top: 0;

  bottom: 0;

  margin: auto;

  padding:0 20px;

}

.center-screen form{

  display: table-cell;

  vertical-align: middle;

}



#search .close {

    position: fixed;

    top: 15px;

    right: 15px;

    color: #fff;

    background-color: transparent;

    border:0;

    opacity: 1;

    padding: 10px 17px;

    font-size: 27px;

}

.wrapper-blur{

  -moz-filter: blur(1.5px);

  -webkit-filter: blur(1.5px);

  -ms-filter: blur(1.5px);

  filter: blur(1.5px);

}



.search_submit > img {

    width: 20px;

}



.header-innerPage .action-right > li  > a.search-icon-xs{

  display: block;

}





.header-innerPage .main-menu > li > a:before {

    height: 3px;

    bottom: -16px;

}


/**==================================================================
                            pricing page
====================================================================**/
.pricing-page{
  background-color: #f8f8f8;
  background-repeat: no-repeat;
  background-position: 0 -40px;
  padding-top: 90px;
}
.pricing-box{
  position: relative;
  margin-bottom: 50px;
  background-color: #ffffff;
  padding: 50px 40px 40px;
}

.pri-thumb img{
  margin: auto;
  height: 160px;
  width: 170px;
}
.pricing-head > h2{
  text-align: center;
  color: #343434;
  font-size: 30px;
  margin: 20px 0;
  font-weight: 700;
}
.pricing-head > p{
  text-align: center;
  color: #343434;
  font-size: 14px;
}
.pricing-head > p > span{
  display: inline-block;
  vertical-align: middle;
  color: #56d0a1;
  font-size: 20px;
}
.pricing-head{
  margin-bottom: 50px;
}
.pricing-txt li{
  display: block;
  margin-bottom: 10px;
  color: #343434;
  font-size: 14px;
}
.pricing-txt li > i{
  display: inline-block;
  margin-right: 15px;
  font-size: 16px;
}
.pricing-txt li > i.zmdi-check-circle{
  color: #72c472;
}
.pricing-txt li > i.zmdi-close-circle{
  color: #e86c60;
}
.btn-green{
  display: table;
  margin: 30px auto 0;
  background-color: #FAC05A;
  border-radius: 30px;
  padding: 10px 60px;
  line-height: 20px;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}
.btn-green:hover,.btn-green:focus{
  color: #fff;
  background-color:#5F5A50;
}

.pricing-request{
  background-color: #fff;
  border-radius: 20px;
  border:1px solid #f2f2f2;
}
.pricing-request .box-form-layout{
  border:0;
  padding: 0;
}
.pricing-request .form-st1{
  padding: 0 80px;
}
.pricing-request{
  margin-bottom: 30px;
  padding: 30px 0;
  padding-left: 20px;
  padding-right: 20px;
}
.pricing-request .box-form-layout{
  width: 500px;
}


.rating-input > span{
  font-size: 20px;
  float: left;
  margin-left: 4px;
}
.item-rating{
  float: right;
}
.evalute-txt{
  display: inline-block;
  vertical-align: middle;
  color: #d8d8d8;
  font-size: 16px;
  margin-right: 20px;
}
.order-mdetails .item-rating{
  margin-top: 10px;
}
.order-mdetails .rating-input{
  display: inline-block;
  vertical-align: middle;
}
.order-mdetails{
  margin-top: 20px;
}
.order-re-content{
  margin-bottom: 10px;
}
.order-mdetails .rating-input{
  display: inline-block;
  vertical-align: middle;
}
.fa-star.glyphicon-star{
  color: #e0ac51;
}
.fa-star.glyphicon-star-empty{
  color: #c7c7c7;
}





.rating-content fieldset,.rating-content label { margin: 0; padding: 0; }

/****** Style Star Rating Widget *****/

.rating-content .rating { 
  border: none;
  float: left;
}

.rating-content .rating > input { display: none; } 
.rating-content .rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 


/**************************/
#up--file7{

  position: absolute;

  width: 100%;

  height: 100%;

  cursor: pointer;

  z-index: 999;

  opacity: 0;

}
html, body {
    height: 100%;
}
#footer{
  height: 150px;
  margin-top: -150px;
  position: relative;
}
.main-wrapper{
  padding-bottom: 150px;
}
.header-innerPage .action-right > li > a.search-icon-xs{
  padding: 0 5px;
}
.rating-item > a{
  height: 300px;
}
.rating-item > a > img{
  width: 100%;
  height: 100%;
}
.mmenu .view-btn{
  display: block;
  margin-left: 15px;
}
.mmenu .lang-xs{
  display: inline-block;
  margin-left: 15px;
}
.add--cafe-xs{
  display: inline-block;
  margin-left: 15px;
}

.products-hiddin{
  display: none;
}